@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Roman.eot';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'IBM Plex Serif Semi Bold';
  src: url("../fonts/IBMPlexSerif-SemiBold.eot");
  src: url("../fonts/IBMPlexSerif-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSerif-SemiBold.woff") format("woff"), url("../fonts/IBMPlexSerif-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
