.header-mobile {
  display: none;
  margin-left: 107px;
  color: #ffffff;
  position: relative; }
  .header-mobile_description {
    max-width: 480px;
    width: 100%;
    height: 89px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 19px; }
  .header-mobile_fromto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Helvetica Neue";
    font-size: 22px;
    font-weight: 700; }
    .header-mobile_fromto__rock {
      margin-left: 250px; }
      .header-mobile_fromto__rock::before {
        content: "";
        display: block;
        background: black;
        position: absolute;
        left: 32px;
        height: 3px;
        max-width: 294px;
        width: 100%;
        background-color: #ffffff; }
  .header-mobile_button {
    padding: 20px; }
    .header-mobile_button a {
      display: block;
      margin-top: 50px;
      margin-bottom: 160px;
      max-width: 250px;
      margin: auto;
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-weight: 500;
      padding: 12px 48px;
      letter-spacing: 0.23px;
      background: transparent;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      border: solid 1px white; }
      .header-mobile_button a:hover {
        background: #FA8072; }

.header-logo2 {
  display: none; }

.header-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.section-header {
  position: relative; }
  .section-header .container {
    position: relative;
    overflow: hidden; }

.header {
  margin-left: 107px;
  color: #ffffff;
  position: relative; }
  .header-logo {
    padding-top: 123px; }
  .header-title {
    margin-top: 20px;
    font-family: "Helvetica Neue";
    font-size: 22px;
    font-weight: 700; }
  .header-description {
    margin-top: 10px;
    max-width: 480px;
    width: 100%;
    height: 89px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 19px; }
  .header-fromto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Helvetica Neue";
    font-size: 22px;
    font-weight: 700; }
    .header-fromto_rock {
      margin-left: 250px; }
      .header-fromto_rock::before {
        content: "";
        display: block;
        background: black;
        position: absolute;
        left: 32px;
        top: 431px;
        height: 3px;
        max-width: 294px;
        width: 100%;
        background-color: #ffffff; }
  .header-button {
    position: relative; }
    .header-button a {
      margin-top: 50px;
      margin-bottom: 160px;
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-weight: 500;
      padding: 12px 48px;
      max-width: 250px;
      letter-spacing: 0.23px;
      background: transparent;
      color: #ffffff;
      cursor: pointer;
      border: solid 1px white;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      display: block;
      text-decoration: none;
      text-align: center; }
      .header-button a:hover {
        background: #FA8072; }

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  top: 20px;
  right: 43px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  z-index: 3; }
  .menu li {
    float: left; }
    .menu li a {
      padding: 10px;
      display: block;
      color: #fff;
      text-decoration: none;
      margin: 1px; }
      .menu li a:hover {
        color: #FA8072; }
  .menu-icon {
    display: none; }

.header-contacts_socials {
  max-width: 195px;
  width: 100%;
  position: absolute;
  left: 246px;
  top: 292px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-contact_socials__icon {
  min-height: 10px; }
  .header-contact_socials__icon img {
    max-width: 24px;
    width: 100%; }

.phone {
  position: relative;
  display: inline-block; }
  .phone::before {
    content: "";
    display: block;
    background: white;
    position: absolute;
    top: 4px;
    height: 33px;
    width: 1px;
    background-color: #ffffff;
    right: 136px; }
