.socials {
  background-color: #f3f6ff;
  margin-top: 30px;
  padding: 60px; }
  .socials-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.items {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-left: 30px; }

a.asoc {
  margin-left: 50px;
  text-decoration: none; }

.social-vk {
  border: 1px solid #6992c3; }
  .social-vk_title {
    color: #6992c3; }
  .social-vk_logo {
    margin-left: 10px; }

.social-youtube {
  border: 1px solid #ff0000; }
  .social-youtube_title {
    color: #ff0000; }
  .social-youtube_logo {
    margin-left: 10px; }

.social-instagram {
  border: 1px solid #fd5a8e; }
  .social-instagram_title {
    color: #fd5a8e; }
  .social-instagram_logo {
    margin-left: 10px; }
