* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden; }

.container {
  padding: 0; }

.header-mobile {
  display: none;
  margin-left: 107px;
  color: #ffffff;
  position: relative; }
  .header-mobile_description {
    max-width: 480px;
    width: 100%;
    height: 89px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 19px; }
  .header-mobile_fromto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Helvetica Neue";
    font-size: 22px;
    font-weight: 700; }
    .header-mobile_fromto__rock {
      margin-left: 250px; }
      .header-mobile_fromto__rock::before {
        content: '';
        display: block;
        background: black;
        position: absolute;
        left: 32px;
        height: 3px;
        max-width: 294px;
        width: 100%;
        background-color: #ffffff; }
  .header-mobile_button button {
    margin-top: 50px;
    margin-bottom: 160px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 500;
    padding: 12px 48px;
    letter-spacing: 0.23px;
    background: transparent;
    color: #ffffff; }

.header-logo2 {
  display: none; }

.header-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.section-header {
  position: relative; }
  .section-header .container {
    position: relative;
    overflow: hidden; }

.header {
  margin-left: 107px;
  color: #ffffff;
  position: relative; }
  .header-logo {
    padding-top: 123px; }
  .header-title {
    margin-top: 20px;
    font-family: "Helvetica Neue";
    font-size: 22px;
    font-weight: 700; }
  .header-description {
    margin-top: 10px;
    max-width: 480px;
    width: 100%;
    height: 89px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 19px; }
  .header-fromto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Helvetica Neue";
    font-size: 22px;
    font-weight: 700; }
    .header-fromto_rock {
      margin-left: 250px; }
      .header-fromto_rock::before {
        content: '';
        display: block;
        background: black;
        position: absolute;
        left: 32px;
        top: 431px;
        height: 3px;
        max-width: 294px;
        width: 100%;
        background-color: #ffffff; }
  .header-button button {
    margin-top: 50px;
    margin-bottom: 160px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 500;
    padding: 12px 48px;
    letter-spacing: 0.23px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    .header-button button:hover {
      background: #FA8072; }

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  top: 20px;
  right: 43px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  z-index: 3; }
  .menu li {
    float: left; }
    .menu li a {
      padding: 10px;
      display: block;
      color: #fff;
      text-decoration: none;
      margin: 1px; }
      .menu li a:hover {
        color: #FA8072; }
  .menu-icon {
    display: none; }

.phone {
  position: relative;
  display: inline-block; }
  .phone::before {
    content: '';
    display: block;
    background: white;
    position: absolute;
    top: 4px;
    height: 33px;
    width: 1px;
    background-color: #ffffff;
    right: 136px; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Roman.eot';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'IBM Plex Serif Semi Bold';
  src: url("../fonts/IBMPlexSerif-SemiBold.eot");
  src: url("../fonts/IBMPlexSerif-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSerif-SemiBold.woff") format("woff"), url("../fonts/IBMPlexSerif-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.section-clients h2 {
  color: #000000;
  font-size: 50px;
  font-family: "IBM Plex Serif Semi Bold";
  font-weight: 600;
  margin-left: 115px; }

.clients {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .clients-block {
    width: 248px;
    min-height: 75px;
    margin-bottom: 60px; }

.etc {
  color: #ff6d73;
  font-family: Helvetica;
  font-size: 17px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px dashed #ff6d73;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  text-align: right; }

.media {
  margin-top: 36px; }
  .media-title {
    width: 205px;
    height: 65px;
    margin-left: 37px;
    color: #000000;
    font-size: 50px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600; }

.wrapper .active {
  background-color: black;
  color: white; }

.tabs {
  margin-left: 40px;
  margin-top: 20px; }

.tab {
  cursor: pointer;
  border: 1px solid black;
  padding: 5px 35px;
  margin-left: -4px; }

.gallery_photo {
  margin-top: 30px;
  text-align: center; }
  .gallery_photo img {
    margin: auto;
    border: 3px solid #45161c;
    max-width: 450px;
    min-height: 200px; }

.gallery_video {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.video {
  margin: 20px 30px;
  max-width: 530px;
  width: 100%; }

iframe {
  height: 300px;
  width: 100%; }

button.slick-next {
  right: 50px; }

button.slick-prev {
  left: 50px;
  z-index: 2; }

.socials {
  background-color: #f3f6ff;
  margin-top: 30px;
  padding: 60px; }
  .socials-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.items {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-left: 30px; }

a.asoc {
  margin-left: 50px;
  text-decoration: none; }

.social-vk {
  border: 1px solid #6992c3; }
  .social-vk_title {
    color: #6992c3; }
  .social-vk_logo {
    margin-left: 10px; }

.social-youtube {
  border: 1px solid #ff0000; }
  .social-youtube_title {
    color: #ff0000; }
  .social-youtube_logo {
    margin-left: 10px; }

.social-instagram {
  border: 1px solid #fd5a8e; }
  .social-instagram_title {
    color: #fd5a8e; }
  .social-instagram_logo {
    margin-left: 10px; }

.section-band {
  background-color: black; }
  .section-band .container {
    margin: auto;
    width: 882px; }

.band {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 882px;
  height: 964px;
  margin: auto;
  padding-top: 40px; }

.about {
  color: #ffffff;
  min-height: 440px;
  width: 280px; }
  .about-title h1 {
    font-size: 50px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600;
    margin-top: 0; }
  .about-description {
    font-family: Helvetica;
    font-size: 18px;
    line-height: 27px;
    margin-top: -20px; }

.lamberg h2 {
  font-size: 25px;
  font-family: "IBM Plex Serif Semi Bold";
  font-weight: 600; }

.lamberg-regals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .lamberg-regals_sound {
    border: 1px solid #333333;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding: 4px 18px;
    opacity: 0.7; }
  .lamberg-regals_org {
    border: 1px solid #333333;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    margin-left: 6px;
    padding: 3px 18px;
    opacity: 0.7; }

.lamberg-contact {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 2px solid #ffffff;
  width: 185px;
  padding: 11px 14px;
  margin-top: 8px; }
  .lamberg-contact a {
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.23px;
    color: #ffffff;
    text-decoration: none;
    position: relative; }
    .lamberg-contact a::after {
      content: url(../img/band/vk-logo.png);
      position: absolute;
      left: 129px;
      top: 1px; }

.member {
  background: white;
  height: 472px;
  width: 280px;
  margin-top: 20px; }
  .member-name {
    font-size: 20px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600;
    margin-left: 16px; }
  .member-regals {
    -webkit-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid #000000;
    opacity: 0.8;
    padding: 4px 14px;
    width: 110px;
    margin-left: 16px;
    margin-top: 8px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.features {
  background-color: #464556;
  padding-bottom: 67px; }

.container.features {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

.features-line1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 121px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.block-sound {
  max-width: 200px;
  width: 100%;
  color: #ffffff;
  font-size: 50px;
  line-height: 50px;
  font-family: "IBM Plex Serif Semi Bold";
  font-weight: 600; }

.block-programms {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #ffffff;
  max-width: 440px;
  width: 100%; }
  .block-programms_title {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 10px;
    margin-left: 17px; }
  .block-programms_variants {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-top: 34px; }

.block-repertoire {
  max-width: 239px;
  width: 100%; }
  .block-repertoire_title {
    color: #ff6d73;
    font-size: 40px;
    line-height: 42px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600; }
  .block-repertoire_descr {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 19px;
    margin-top: 11px; }

.block-repertoire2 {
  display: none;
  max-width: 239px;
  width: 100%; }
  .block-repertoire2_title {
    color: #ff6d73;
    font-size: 40px;
    line-height: 42px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600; }
  .block-repertoire2_descr {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 19px;
    margin-top: 11px; }

.variant1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .variant1 span {
    font-family: "IBM Plex Serif Semi Bold";
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: #ffffff; }
  .variant1-descr {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    vertical-align: right;
    margin-left: 9px; }

.variant2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .variant2 span {
    font-family: "IBM Plex Serif Semi Bold";
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: #ffffff; }
  .variant2-descr {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    vertical-align: right;
    width: 144px;
    margin-left: 9px; }

.features-line2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 121px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.block-energy {
  max-width: 200px;
  width: 100%;
  position: relative; }
  .block-energy::before {
    content: url(../img/features/lightning.png);
    position: absolute;
    left: -39px;
    top: -71px; }
  .block-energy_title {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 17px;
    position: relative; }
  .block-energy_subtitle {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 500;
    line-height: 32px; }

.block-vox_title {
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px; }

.block-vox_subtitle {
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 17px;
  margin-top: 7px; }

.block-energy2 {
  display: none;
  max-width: 200px;
  width: 100%;
  position: relative; }
  .block-energy2::before {
    content: url(../img/features/lightning.png);
    position: absolute;
    left: -39px;
    top: -71px; }
  .block-energy2_title {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 17px;
    position: relative; }
  .block-energy2_subtitle {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 500;
    line-height: 32px; }

.block-vox2_title {
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px; }

.block-vox2_subtitle {
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 17px;
  margin-top: 7px; }

.block-concerts {
  max-width: 440px;
  width: 100%; }
  .block-concerts_title {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 32px; }
    .block-concerts_title span {
      color: #ff6d73;
      font-family: "IBM Plex Serif Semi Bold";
      font-size: 150px;
      font-weight: 600;
      line-height: 57px; }
  .block-concerts_descr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .block-concerts_descr1 {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; }
  .block-concerts_descr2 {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 18px; }
  .block-concerts_descr3 {
    color: #ff7c7c;
    font-size: 26px;
    line-height: 32px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600; }

.block-punctuation {
  max-width: 239px;
  width: 100%; }
  .block-punctuation_title {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 500;
    line-height: 32px; }
  .block-punctuation_subtitle {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px; }

.features-line3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.block-dotes {
  max-width: 200px;
  width: 100%; }
  .block-dotes img {
    position: absolute;
    left: 103px; }

.block-everywhere {
  max-width: 440px;
  width: 100%;
  position: relative; }
  .block-everywhere_title {
    color: #ffffff;
    font-size: 50px;
    line-height: 57px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600; }
  .block-everywhere_subtitle {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 3px; }

.block-power {
  max-width: 239px;
  width: 100%; }
  .block-power_descr1 {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 18px; }
  .block-power_descr2 {
    color: #ff6d73;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 18px; }

.block-power2 {
  max-width: 239px;
  width: 100%; }
  .block-power2_descr1 {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 18px; }
  .block-power2_descr2 {
    color: #ff6d73;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 18px; }

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer-wrap_left {
    max-width: 918px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding-left: 35px; }
    .footer-wrap_left__title h2 {
      font-size: 50px;
      font-family: "IBM Plex Serif Semi Bold";
      font-weight: 600;
      margin: 0;
      padding-top: 22px; }
  .footer-wrap_right {
    max-width: 1125px;
    width: 100%;
    background-color: #262534;
    color: #ffffff; }
    .footer-wrap_right__title h2 {
      font-size: 50px;
      line-height: 48px;
      font-family: "IBM Plex Serif Semi Bold";
      font-weight: 600;
      font-family: "IBM Plex Serif Semi Bold";
      font-weight: 600;
      margin: 0;
      padding-top: 22px;
      margin-left: 30px; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 303px;
  padding-bottom: 80px; }
  .contacts .contacts-left {
    width: 400px; }
  .contacts .contacts-socials {
    max-width: 195px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .contacts-call_title {
    margin-top: 28px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3px; }
  .contacts-call_phone {
    margin-top: 11px;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.44px; }
  .contacts .contacts-right {
    max-width: 405px;
    position: relative; }
    .contacts .contacts-right::before {
      content: '';
      display: block;
      position: absolute;
      height: 124px;
      width: 1px;
      background-color: #ffffff;
      left: -31px; }
    .contacts .contacts-right_descr {
      font-family: "Helvetica Neue";
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px; }

.form {
  margin-top: 60px;
  padding: 40px;
  text-align: center; }
  .form-name input {
    max-width: 371px;
    width: 100%;
    background-color: #3c3b49;
    border: 1px solid #3c3b49;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding: 10px 17px;
    color: #ffffff; }
  .form-phone input {
    max-width: 371px;
    width: 100%;
    background-color: #3c3b49;
    border: 1px solid #3c3b49;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    margin-top: 10px;
    padding: 10px 17px;
    color: #6d6c77; }
  .form-date input {
    max-width: 371px;
    width: 100%;
    background-color: #3c3b49;
    border: 1px solid #3c3b49;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    margin-top: 10px;
    padding: 10px 17px;
    color: #ffffff; }
  .form-date input {
    background-color: #3c3b49;
    margin-top: 10px; }
  .form-date span {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 12px; }
  .form textarea {
    color: #ffffff; }
  .form-button {
    margin-top: 30px; }
    .form-button input {
      max-width: 371px;
      width: 100%;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background-color: #ffffff;
      color: #232323;
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-weight: 700;
      padding: 15px 145px;
      cursor: pointer; }
      .form-button input:hover {
        background: #FA8072; }
  .form textarea {
    max-width: 371px;
    width: 100%;
    background-color: #3c3b49;
    border: 1px solid #3c3b49;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    margin-top: 10px;
    padding: 10px 17px; }
  .form #name-error {
    display: block;
    color: #FA8072; }
  .form #phone-error {
    display: block;
    color: #FA8072; }

.overlay {
  position: absolute;
  z-index: 600;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4); }

.popup {
  position: absolute;
  width: 300px;
  height: 180px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background: #FA8072; }

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer; }
  .close-popup:before {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .close-popup:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.open {
  display: block; }

@media (max-width: 1400px) {
  .footer-wrap_right {
    max-width: 531px; } }

@media (max-width: 1284px) {
  .features-line2 {
    padding-left: 40px;
    padding-right: 8px; }
  .clients-block {
    margin-left: 37px; }
  .contacts-call_phone {
    font-size: 21px; } }

@media (max-width: 1024px) {
  .contacts .contacts-right::before {
    display: none; }
  .block-energy::before {
    left: 0px;
    top: -90px; }
  .block-dotes img {
    left: 33px; }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column; }
  .contacts .contacts-right_descr {
    margin-top: 30px; }
  .container .features {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 991px) {
  .section-band .container {
    max-width: 800px;
    width: 100%;
    height: 1440px; }
  .band {
    max-width: 583px;
    width: 100%; }
  .features-line2 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 10px; }
  .block-sound {
    max-width: 130px;
    font-size: 43px; }
  .variant2-descr {
    font-size: 13px; }
  .block-repertoire {
    display: none; }
  .block-repertoire2 {
    display: block;
    margin-top: 30px; }
  .block-power {
    display: none; }
  .block-power2 {
    display: block; }
    .block-power2_descr1 {
      margin-top: 20px; }
  .block-repertoire_title {
    font-size: 32px;
    line-height: 31px; }
  .block-power {
    max-width: 287px; }
  .block-everywhere {
    margin-left: 200px; }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: column-reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse; }
  .footer-wrap_left {
    width: 100%;
    max-width: 100%; }
  .footer-wrap_right {
    width: 100%;
    max-width: 100%; }
  .form-checkbox {
    text-align: center;
    margin-left: 0; } }

@media (max-width: 767px) {
  .header {
    margin-left: 35px; }
  .block-programms {
    max-width: 350px; }
  .block-everywhere_title {
    font-size: 25px; }
  .block-concerts {
    max-width: 300px;
    width: 100%; }
    .block-concerts_title span {
      font-size: 96px; }
    .block-concerts_descr2 {
      margin-left: 15px; } }

@media (max-width: 576px) {
  .menu {
    font-size: 12px; }
  .phone::before {
    top: 1px;
    right: 107px; }
  .header {
    height: 466px;
    margin-left: 24px; }
  .header-fromto_rock::before {
    max-width: 220px;
    top: 379px; }
  .header-fromto_rock {
    margin-left: 180px; }
  .header-logo img {
    width: 310px; }
  .header-button {
    margin-top: -46px; }
  .band {
    max-width: 278px;
      max-width-width: 100%; }
  .section-band .container {
    height: 3200px; }
  .block-programms {
    display: block;
    width: 400px;
    margin-top: 30px; }
  .variant2 {
    margin-left: 10px; }
  .block-energy {
    display: none; }
  .block-energy2 {
    display: block;
    margin-top: 50px; }
  .features-line1 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 50%;
    margin: auto; }
  .features-line2 {
    padding-top: 45px; }
  .features-line3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .block-everywhere {
    padding-left: 64px;
    margin-left: 0px;
    font-size: 30px; }
    .block-everywhere_title {
      font-size: 50px; }
  .features {
    padding-bottom: 79px; }
  .clients-block {
    margin-left: 0; }
  .clients {
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .section-clients h2 {
    margin-left: 0;
    text-align: center; }
  iframe {
    height: 50vw;
    width: 100%; }
  .contacts .contacts-left {
    width: 283px; } }

@media (max-width: 424px) {
  .menu {
    display: none;
    background: black;
    height: 281px;
    z-index: 3; }
  .menu-icon {
    display: block;
    position: fixed;
    right: 0;
    z-index: 3; }
  .menu li {
    float: none;
    margin-top: 20px; }
  .phone:before {
    display: none; }
  .header-video {
    display: none; }
  .header-mobile {
    display: block;
    color: white;
    margin-left: 0;
    background: #262534; }
  .header-mobile_description {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    height: 100px; }
  .header-mobile_fromto {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 21px; }
  .header-mobile_fromto__rock {
    margin-left: 56px; }
  .header-mobile_fromto__rock::before {
    max-width: 95px;
    bottom: 289px;
    left: 63px;
    top: 150px; }
  .header-mobile_button {
    text-align: center; }
    .header-mobile_button button {
      width: 300px;
      margin-bottom: 60px; }
  .header-button {
    display: none; }
    .header-button button {
      width: 296px; }
  .header {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    background: url("../img/header/header-mobile.png") center/cover no-repeat; }
  .header-logo {
    display: none; }
  .header-logo2 {
    display: block;
    margin-left: 23px; }
  .header-title {
    margin-left: 23px;
    color: black; }
  .header-description {
    display: none; }
  .header-fromto {
    margin-top: 30px;
    display: none; }
  .header-fromto_rock {
    margin-left: 56px; }
  .header-fromto_rock::before {
    max-width: 95px;
    bottom: 289px; }
  .header-button {
    display: none; }
    .header-button button {
      width: 296px; }
  .features-line1 {
    padding-top: 38px; }
  .features-line3 {
    padding-top: 23px; }
  .block-everywhere_title {
    font-size: 38px; }
  .block-dotes img {
    max-width: 264px;
    width: 100%; }
  .gallery_photo img {
    width: 91%; }
  .form-button input {
    padding: 15px 71px; }
  .contacts-call_phone {
    font-size: 23px; }
  .contacts .contacts-right_descr {
    margin-top: 22px; }
  .footer-wrap_left {
    padding-left: 25px; } }
