.voice .container {
  min-height: 521px; }

.voice {
  max-width: 1440px;
  width: 100%;
  background: url(/img/voice_cover2.jpg) right no-repeat;
  -webkit-background-size: 800px 800px;
          background-size: 800px; }
  .voice-title {
    max-width: 500px;
    width: 100%;
    padding-top: 50px;
    margin-left: 37px;
    font-size: 50px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600; }
  .voice-description {
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    margin-left: 37px;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 27px; }
  .voice-button {
    position: relative;
    margin-left: 37px; }
    .voice-button a {
      margin-top: 50px;
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-weight: 500;
      padding: 12px 48px;
      max-width: 250px;
      letter-spacing: 0.23px;
      background: black;
      color: #ffffff;
      cursor: pointer;
      border: solid 1px white;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      display: block;
      text-decoration: none;
      text-align: center; }
      .voice-button a:hover {
        background: #FA8072; }
