.voice {
  margin-top: 555px;
  margin-bottom: 45px; }
  .voice .container {
    min-height: 521px; }

.voice-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.voice {
  width: 100%; }
  .voice-title {
    padding-top: 50px;
    padding-left: 37px;
    font-size: 47px;
    font-family: "IBM Plex Serif Semi Bold";
    font-weight: 600; }
  .voice-description {
    margin-top: 20px;
    padding-left: 37px;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 27px; }
  .voice-button {
    position: relative;
    padding-left: 37px; }
    .voice-button a {
      margin-top: 50px;
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-weight: 500;
      padding: 12px 48px;
      max-width: 250px;
      letter-spacing: 0.23px;
      background: black;
      color: #ffffff;
      cursor: pointer;
      border: solid 1px white;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      display: block;
      text-decoration: none;
      text-align: center; }
      .voice-button a:hover {
        background: #FA8072; }

.voice-left {
  max-width: 500px; }

.voice-right {
  max-width: 900px;
  margin-top: 8px; }

.voice-img {
  width: 100%; }
  .voice-img img {
    width: 100%; }
